dataset- https://www.kaggle.com/arashnic/book-recommendation-dataset 
<p>link - https://www.kaggle.com/arashnic/book-recommendation-dataset/download   </p>

In [2]:
import numpy as np
import pandas as pd

In [4]:
#import files
books=pd.read_csv("Datasets/Books.csv")
users=pd.read_csv("Datasets/Users.csv")
ratings=pd.read_csv("Datasets/Ratings.csv")

In [5]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [6]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [7]:
books=books[['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher']]

In [8]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [9]:
books.rename(columns={'Book-Title':'Title', 'Book-Author':'Author', 'Year-Of-Publication':'Year'},inplace=True)

In [10]:
books.head(3)

,ISBN,Title,Author,Year,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial

In [11]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [12]:
users.rename(columns={'User-ID':'User_id'},inplace=True)

In [13]:
users.head(3)

   User_id                         Location   Age
0        1               nyc, new york, usa   NaN
1        2        stockton, california, usa  18.0
2        3  moscow, yukon territory, russia   NaN

In [14]:
ratings.head(3)

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0

In [15]:
ratings.rename(columns={'User-ID':'User_id','Book-Rating':'Rating'},inplace= True)

In [16]:
ratings.head(3)

   User_id        ISBN  Rating
0   276725  034545104X       0
1   276726  0155061224       5
2   276727  0446520802       0

In [17]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 5)
(278858, 3)
(1149780, 3)

In [18]:
ratings['User_id'].value_counts()

11676     13602
198711     7550
153662     6109
98391      5891
35859      5850
          ...
116180        1
116166        1
116154        1
116137        1
276723        1
Name: User_id, Length: 105283, dtype: int64

In [19]:
ratings['User_id'].value_counts().shape

(105283,)

In [20]:
x=ratings['User_id'].value_counts()>50

In [21]:
x[x].shape

(3371,)

In [22]:
y=x[x].index

In [23]:
y

Int64Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352,
            110973, 235105,
            ...
            195079, 239486,  63506, 220911, 187613,  90105, 109040, 137803,
             83034, 190939],
           dtype='int64', length=3371)

In [24]:
ratings=ratings[ratings['User_id'].isin(y)]

In [25]:
ratings.shape

(765672, 3)

In [26]:
ratings.head()

     User_id        ISBN  Rating
173   276847  0446364193       0
174   276847  3257200552       5
175   276847  3379015180       0
176   276847  3404145909       8
177   276847  3404148576       8

In [27]:
r_with_b=ratings.merge(books, on='ISBN')

In [28]:
r_with_b.head(3)

,User_id,ISBN,Rating,Title,Author,Year,Publisher
0,276847,0446364193,0,Along Came a Spider (Alex Cross Novels),James Patterson,1993,Warner Books
1,278418,0446364193,0,Along Came a Spider (Alex Cross Novels),James Patterson,1993,Warner Books
2,5483,0446364193,0,Along Came a Spider (Alex Cross Novels),James Patterson,1993,Warner Books

In [29]:
r_with_b.shape

(700848, 7)

In [30]:
n_rating=r_with_b.groupby('Title')['Rating'].count().reset_index()

In [31]:
n_rating.head()

                                               Title  Rating
0   A Light in the Storm: The Civil War Diary of ...       4
1                              Always Have Popsicles       1
2               Apple Magic (The Collector's series)       1
3   Ask Lily (Young Women of Faith: Lily Series, ...       1
4   Beyond IBM: Leadership Marketing and Finance ...       1

In [32]:
n_rating.rename(columns={'Rating':'no_of_rating'},inplace=True)

In [33]:
n_rating.head()

                                               Title  no_of_rating
0   A Light in the Storm: The Civil War Diary of ...             4
1                              Always Have Popsicles             1
2               Apple Magic (The Collector's series)             1
3   Ask Lily (Young Women of Faith: Lily Series, ...             1
4   Beyond IBM: Leadership Marketing and Finance ...             1

In [34]:
final_rating=r_with_b.merge(n_rating, on='Title')

In [35]:
final_rating.shape

(700848, 8)

In [36]:
final_rating=final_rating[final_rating['no_of_rating']>50]

In [37]:
final_rating.shape

(133212, 8)

In [38]:
final_rating.duplicated(['User_id','Title']).value_counts()

False    130501
True       2711
dtype: int64

In [39]:
final_rating.drop_duplicates(['User_id','Title'],inplace=True)

In [40]:
final_rating.shape

(130501, 8)

In [41]:
final_rating.to_csv('final_rating.csv')

In [42]:
book_pivot=final_rating.pivot_table(columns='User_id',index='Title',values='Rating')

In [43]:
book_pivot

User_id,183,243,254,507,626,638,643,741,882,929,...,277928,277965,278026,278137,278144,278188,278418,278582,278633,278843
Title,,,,,,,,,,,,,,,,,,,,,
1984,NaN,NaN,9.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1st to Die: A Novel,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010: Odyssey Two,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204 Rosewood Lane,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN
24 Hours,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Year of Wonders,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
You Belong To Me,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zen and the Art of Motorcycle Maintenance: An Inquiry into Values,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Zoya,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
"\O\"" Is for Outlaw""",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
book_pivot.shape

(1346, 3220)

In [45]:
book_pivot.fillna(0, inplace=True)

In [46]:
from scipy.sparse import csr_matrix
book_sparse=csr_matrix(book_pivot)

In [47]:
book_sparse

<1346x3220 sparse matrix of type '<class 'numpy.float64'>'
	with 38946 stored elements in Compressed Sparse Row format>

In [48]:
from sklearn.neighbors import NearestNeighbors as NN
model=NN(algorithm='brute')

In [49]:
model.fit(book_sparse)

NearestNeighbors(algorithm='brute')

In [50]:
book_pivot.index[0]

'1984'

In [51]:
distances, suggetions = model.kneighbors(book_pivot.iloc[20,:].values.reshape(1,-1),n_neighbors=6)

In [52]:
type(suggetions)

numpy.ndarray

In [53]:
suggetions=suggetions.tolist()

In [54]:
suggetions

[[20, 38, 667, 417, 320, 692]]

In [55]:
suggetions=suggetions[0]
suggetions.pop(0)

20

In [56]:
for i in range(len(suggetions)):
        print(book_pivot.index[suggetions[i]])

A Theory of Relativity
Outer Banks
Ground Zero and Beyond
Escape the Night
Politika (Tom Clancy's Power Plays (Paperback))

In [57]:
def recommend_book(book_name):
    book_id=np.where(book_pivot.index==book_name)[0][0]
    distances, suggetions = model.kneighbors(book_pivot.iloc[book_id,:].values.reshape(1,-1),n_neighbors=6)
    suggetions=suggetions.tolist()
    suggetions=suggetions[0]
    suggetions.pop(0)
    for i in range(len(suggetions)):
        print(book_pivot.index[suggetions[i]])

In [58]:
book_id=np.where(book_pivot.index=='1984')
book_id[0][0]

0

In [59]:
book_pivot.index.shape

(1346,)

In [60]:
recommend_book('A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash')

AGE OF INNOCENCE (MOVIE TIE-IN)
A Theory of Relativity
Ground Zero and Beyond
Escape the Night
Politika (Tom Clancy's Power Plays (Paperback))

# saving the model

In [61]:
import pickle

In [62]:
filename='final_model.sav'
pickle.dump(model,open(filename,'wb'))